@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px .5px 6px 0 #4F4141;
  z-index: 20;
}

header .menu--large {
  width: 100vw;
  /* Registro, carrito de compras y Logo */
  /* Secciones depágina */
}

header .menu--large .content__logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 0em 4em;
}

header .menu--large .content__logo .logo {
  width: 10em;
  padding: .7em;
}

header .menu--large .content__logo .registro ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .menu--large .content__logo .registro ul a, header .menu--large .content__logo .registro ul li .compras {
  color: black;
  font-size: .9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

header .menu--large .content__logo .registro ul li {
  padding-left: 1em;
  font-size: 0.8em;
}

header .menu--large .content__logo .registro ul li .icon__cart {
  color: white;
  width: 30px;
  height: 30px;
}

header .menu--large .content__logo .registro ul li .compras {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #D8BCA8;
  border-radius: 2em;
  margin-left: .5em;
  padding: .3em 1em;
  gap: .4em;
  position: relative;
}

header .menu--large .content__logo .registro ul li .badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

header .menu--large .content__logo .registro ul li .badge__cart {
  background-color: #daa400;
  border: 2.2px solid white;
  position: absolute;
  top: -3px;
  right: -10px;
}

header .menu--large .content__logo .registro ul li .compras:hover {
  border: .5px solid #B28604;
}

header .menu--large .content__logo .registro ul li .cuenta:hover {
  color: #B28604;
}

header .menu--large .menu__pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #D8BCA8;
  border-bottom: 5px solid #D8BCA8;
}

header .menu--large .menu__pages ul {
  display: flex;
  width: 100vw;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1%;
  padding-left: 10em;
  margin-bottom: 0;
}

header .menu--large .menu__pages li {
  text-align: center;
  padding: 0 2em;
}

header .menu--large .menu__pages a, header .menu--large .menu__pages .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .menu__pages .compras {
  font-size: .8rem;
  color: #4F4141;
}

header .menu--large .menu__pages a:hover, header .menu--large .menu__pages .content__logo .registro ul li .compras:hover, header .menu--large .content__logo .registro ul li .menu__pages .compras:hover {
  color: #B28604;
}

header .menu--large .menu__pages .menu__pages--active {
  color: #B28604;
  font-weight: 600;
  border-bottom: 0px solid #ffffff;
}

header .menu--large .menu__pages .buscador {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

header .menu--large .menu__pages .buscador input {
  /* width: 100%; */
  border: none;
  border-bottom: 0.1em solid #B28604;
  overflow: hidden;
  padding: .3em .5em;
  outline: none;
}

header .menu--large .menu__pages .buscador .btn__forms {
  width: 60px;
  color: white;
  border: none;
  border-bottom: 0.1em solid #B28604;
  outline: none;
  cursor: pointer;
  margin-right: 3em;
}

header .menu--large .menu__pages .buscador .btn__forms .icon__search {
  color: #B28604;
  font-size: 1.3em;
  font-weight: 800;
  left: 2em;
  top: 2em;
  text-align: center;
}

header .menu--small {
  display: none;
}

/* FOOTER */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer h3 {
  padding-top: 3em;
  color: white;
  font-size: 1rem;
  margin-bottom: .6em;
}

footer a, footer header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li footer .compras {
  color: white;
  font-size: .7rem;
}

footer .footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 2em;
}

footer .footer .contacto li {
  color: white;
  font-size: .7rem;
  padding: .2em;
}

footer .footer .redes ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .footer .redes ul li {
  margin: 0 .2em;
}

footer .footer .redes ul li a, footer .footer .redes header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro footer .footer .redes ul li .compras {
  font-size: 2em;
}

footer .footer .redes ul li a redes__icon--fb, footer .footer .redes header .menu--large .content__logo .registro ul li .compras redes__icon--fb, header .menu--large .content__logo .registro footer .footer .redes ul li .compras redes__icon--fb {
  font-size: 1.1em;
}

footer .footer .redes ul li a redes__icon--ig, footer .footer .redes header .menu--large .content__logo .registro ul li .compras redes__icon--ig, header .menu--large .content__logo .registro footer .footer .redes ul li .compras redes__icon--ig {
  font-size: 1.3em;
}

footer .footer .redes ul li a:hover, footer .footer .redes header .menu--large .content__logo .registro ul li .compras:hover, header .menu--large .content__logo .registro footer .footer .redes ul li .compras:hover {
  transform: scale(1.5);
  color: #FFCB00;
}

footer .footer .footer__subscription {
  padding-top: 1%;
}

footer .footer__payment {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  color: white;
  background-color: whitesmoke;
  gap: 2em;
}

footer .footer__payment p {
  color: black;
}

footer .footer__payment img {
  width: 300px;
  height: auto;
}

footer .copyright p {
  color: white;
}

@media only screen and (max-width: 800px) {
  /* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
  }
  footer h3 {
    padding-top: 1em;
  }
}

/* HERO SECTION */
.carousel {
  height: 90vh;
}

.carousel-item {
  height: 90vh;
}

.carousel img {
  overflow: hidden;
}

.carousel #cr2 {
  color: white;
}

.carousel .hero__img1 {
  margin-top: -200px;
}

.carousel .hero__img2 {
  margin-top: -200px;
}

.carousel .hero__img3 {
  margin-top: -300px;
}

.carousel-caption {
  top: 10em;
}

.carousel-indicators {
  z-index: 10;
}

.info {
  background-color: #E6E2E3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 2em;
}

.info .info__container--borderright {
  padding-right: 2em;
  border-right: 2px solid white;
}

.info .info__icon {
  color: #4F4141;
  width: 3.4em;
  height: 3.4em;
  margin-bottom: .5em;
}

.info .info__container h3 {
  font-size: 1em;
}

/* CARROUSEL ESTILOS */
.carousel__estilos {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5em 2%;
}

.carousel__estilos .slider {
  color: whitesmoke;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 1em;
  display: block;
  width: 20px;
  height: 25px;
  color: #4F4141;
  font-weight: 900;
  text-align: center;
}

.carousel__estilos .slider__left {
  left: 50px;
}

.carousel__estilos .slider__right {
  right: -50px;
}

.carousel__estilos .content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 1.6em;
  animation: appear 500ms ease-in-out 0.3s both;
}

.carousel__estilos #content2 {
  display: none;
}

.carousel__estilos .carousel__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: red;
}

.carousel__estilos .carousel__img:hover {
  cursor: pointer;
}

.carousel__estilos #carousel1__1 {
  background: url("https://i.pinimg.com/564x/9a/2f/33/9a2f3304710ca88dd63cc630dd43491a.jpg") no-repeat center/cover;
  position: relative;
}

.carousel__estilos #carousel1__2 {
  background: url("https://i.pinimg.com/564x/cd/8f/ff/cd8fff49b766ad4021d34a240d70d40d.jpg") no-repeat center/cover;
  position: relative;
}

.carousel__estilos #carousel1__3 {
  background: url("https://i.pinimg.com/564x/a2/6d/8f/a26d8f5a6c058635221dd09469088084.jpg") no-repeat center/cover;
  position: relative;
}

.carousel__estilos #carousel1__4 {
  background: url("https://i.pinimg.com/564x/16/dd/12/16dd122c4e2fe47242c89d2d6d065416.jpg") no-repeat center/cover;
  position: relative;
}

.carousel__estilos #carousel1__5 {
  background: url("https://i.pinimg.com/236x/2b/6c/47/2b6c4718c79772552671e4cffd8384e6.jpg") no-repeat center/cover;
  position: relative;
}

.carousel__estilos #carousel1__6 {
  background: url("https://i.pinimg.com/564x/5b/df/f1/5bdff12844df7680094b39ef1847fbf5.jpg") no-repeat center/cover;
  position: relative;
}

.carousel__estilos #carousel1__7 {
  background: url("https://i.pinimg.com/236x/e5/0b/00/e50b009d7662dd3234a405e18cd1d55b.jpg") no-repeat center/cover;
  position: relative;
}

.carousel__estilos .estilos__text {
  position: absolute;
  text-align: center;
  color: white;
  font-weight: 800;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.carousel__estilos #content1:target {
  display: flex;
}

.carousel__estilos #content1:target + #content2 {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* PRODUCTOS */
.products .products__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
  margin: .5em 2em 3em 2em;
}

.products .products__gallery .gallery__prod {
  display: flex;
  flex-flow: column;
  border-radius: .6em;
  overflow: hidden;
  box-shadow: 0 5px 15px -5px black;
  transition: 300ms ease-in-out;
  position: relative;
}

.products .products__gallery .gallery__prod .card__img {
  width: 100%;
  flex-basis: 200px;
}

.products .products__gallery .gallery__prod #prod1 {
  background: url("../images/nlprod1.jpg") no-repeat 90% 80%/cover;
}

.products .products__gallery .gallery__prod #prod2 {
  background: url("../images/nlprod2.jpg") no-repeat center/cover;
}

.products .products__gallery .gallery__prod #prod3 {
  background: url("../images/nlprod3.jpg") no-repeat 100% 90%/cover;
}

.products .products__gallery .gallery__prod #prod4 {
  background: url("../images/nlprod4.jpg") no-repeat center/cover;
}

.products .products__gallery .gallery__prod #prodprom1 {
  background: url("../images/pdprod1.jpg") no-repeat 100% 100%/cover;
}

.products .products__gallery .gallery__prod #prodprom2 {
  background: url("../images/pdprod2.jpg") no-repeat center/cover;
}

.products .products__gallery .gallery__prod #prodprom3 {
  background: url("../images/pdprod3.jpg") no-repeat center/cover;
}

.products .products__gallery .gallery__prod #prodprom4 {
  background: url("../images/pdprod4.jpg") no-repeat 100% 30%/cover;
}

.products .products__gallery .gallery__prod .card__text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: .7em;
  padding: .4em 0;
}

.products .products__gallery .gallery__prod .card__text h3 {
  margin: .4em auto;
}

.products .products__gallery .gallery__prod .card__text span {
  color: #DCC133;
}

/* ARMA TU DISEÑO - INDEX */
.diseno__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
  height: 250px;
  background: url("https://i.pinimg.com/564x/c9/e4/c0/c9e4c0a1e98796560ada763fa7e2d22c.jpg");
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2em;
}

.diseno__content h2 {
  color: #4F4141;
  margin-top: .8em;
  letter-spacing: .1rem;
}

.diseno__content p {
  color: black;
  line-height: 1.5em;
  max-width: 60vw;
  font-size: .9rem;
  text-align: start;
}

/* CATEGORÍAS */
.categories {
  display: grid;
  margin: 3% 1%;
  grid-template-columns: .5fr .5fr;
  grid-template-rows: 50% 50%;
}

.categories .card__category {
  position: relative;
}

.categories .card__category img {
  width: 100%;
  height: 100%;
}

.categories .card__category item-wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
}

.categories .card__category h3 {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  text-shadow: 1px 1px 13px #000;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: .17em;
  text-transform: uppercase;
}

.categories img {
  width: 100%;
  height: 100%;
}

.categories img:hover {
  /* filter: grayscale(90%) */
  opacity: 0.7;
}

/* INSTAGRAM */
.instagram {
  display: flex;
  justify-content: center;
  font-size: .7rem;
  font-style: italic;
}

/* SUSCRIPCIÓN */
.subscription {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  background-color: black;
  text-align: right;
  margin: 2em 0;
  padding: 2em 0;
}

.subscription .subscription__img {
  background: url("../images/suscribe.jpg") no-repeat center/cover;
  width: 100%;
  max-width: 40vw;
}

.subscription .subscription__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0 2em;
  color: white;
}

.subscription .subscription__text h3 {
  color: lightgray;
}

.subscription .subscription__text p {
  color: white;
}

.subscription .subscription__text p .bold {
  font-weight: 600;
}

.subscription .subscription__text .subscription__form {
  display: flex;
  flex-flow: row;
}

.subscription .subscription__text .subscription__form input {
  /* width: 100%; */
  height: 1.6em;
  border: .15em solid white;
  border-top-left-radius: .4em;
  border-bottom-left-radius: .3em;
  overflow: hidden;
  padding: .3em .7em;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.subscription .subscription__text .italic {
  font-size: .7rem;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

/* MÉTODOS PAGO Y ENVÍO */
.methods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0;
}

.methods .methods__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.methods .methods__content .p {
  margin: 1em 0;
}

.methods .methods__content img {
  width: 10em;
}

/* SUBMENU */
.products__menu--category {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: relative;
  padding: 0 5%;
  background-color: black;
  min-height: 40px;
  margin-bottom: 0;
}

.products__menu--category .products__menu--item {
  padding: 1em;
}

.products__menu--category .products__menu--item a, .products__menu--category .products__menu--item header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .products__menu--category .products__menu--item .compras {
  text-decoration: none;
  color: #B28604;
}

.products__menu--category .products__menu--item .products__submenu {
  display: none;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-height: 80px;
}

.products__menu--category .products__menu--item .products__submenu a, .products__menu--category .products__menu--item .products__submenu header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .products__menu--category .products__menu--item .products__submenu .compras {
  color: white;
  font-size: 1em;
}

.products__menu--category .products__menu--item .products__submenu .subitem__icon {
  color: white;
  font-size: 2.7em;
}

.products__menu--category .products__menu--item .subitem__icon:hover {
  color: #DDAD19;
}

.products__menu--category .products__menu--item a:hover, .products__menu--category .products__menu--item header .menu--large .content__logo .registro ul li .compras:hover, header .menu--large .content__logo .registro ul li .products__menu--category .products__menu--item .compras:hover {
  color: #DDAD19;
}

.products__menu--category .products__menu--item:hover > .products__submenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
}

/* ORDENAR POR */
.orderby {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 1em 2em 3em;
}

.orderby #orderby__form {
  border: 1.2px solid #D9A27B;
  border-radius: .5em;
  font-size: 1em;
  text-align: center;
  padding: .6em 0em .6em .5em;
}

.orderby .breadcrumb {
  margin-top: 1em;
}

.orderby .bc {
  color: #b37244;
}

.orderby .breadcrumb__item--active {
  color: #D9A27B;
}

/* PRODUCTOS */
.products__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4em;
  margin: 4em 5em;
}

.products__section .products__card {
  display: flex;
  flex-flow: column;
  border-radius: .5em;
  overflow: hidden;
  box-shadow: 0 0px 10px .1px lightgray;
  transition: 300ms ease-in-out;
  border-bottom: 3px solid #D9A27B;
  position: relative;
}

.products__section .products__card .products__image {
  width: 100%;
  flex-basis: 200px;
}

.products__section .products__card #prod1 {
  background: url("../images/productos/prod1.jpg") no-repeat 90% 80%/cover;
}

.products__section .products__card #prod2 {
  background: url("../images/productos/prod2.jpg") no-repeat center/cover;
}

.products__section .products__card #prod3 {
  background: url("../images/productos/prod3.jpg") no-repeat 100% 90%/cover;
}

.products__section .products__card #prod4 {
  background: url("../images/productos/prod4.jpg") no-repeat center/cover;
}

.products__section .products__card #prod5 {
  background: url("../images/productos/prod5.jpg") no-repeat 100% 100%/cover;
}

.products__section .products__card #prod6 {
  background: url("../images/productos/prod6.jpg") no-repeat center/cover;
}

.products__section .products__card #prod7 {
  background: url("../images/productos/prod7.jpg") no-repeat center/cover;
}

.products__section .products__card #prod8 {
  background: url("../images/productos/prod8.jpg") no-repeat 100% 30%/cover;
}

.products__section .products__card #prod9 {
  background: url("../images/productos/prod9.jpg") no-repeat 100% 30%/cover;
}

.products__section .products__card #prod10 {
  background: url("../images/productos/prod10.jpg") no-repeat 100% 30%/cover;
}

.products__section .products__card #prod11 {
  background: url("../images/productos/prod11.jpg") no-repeat 100% 30%/cover;
}

.products__section .products__card .products__text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  flex: 1;
  padding: 1.5em 1em;
  text-align: center;
  background-color: white;
}

.products__section .products__card .products__text h3 {
  font-size: 1.1em;
  line-height: 1.1em;
  font-weight: 600;
  color: #4F4141;
}

.products__section .products__card .products__text .products__span {
  color: #C8A446;
  font-size: 1.2em;
  font-weight: 600;
}

.products__section .products__card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px -5px black;
}

.products__section hr {
  width: 60%;
  margin: auto;
  border: 0,1px;
  border-style: solid;
  border-color: #77B255;
}

/* NAVEGACION DE PAGINA */
.page-link {
  color: #94C75B;
}

.page-link:hover {
  color: #94C75B;
}

.hero__img {
  background: url(https://images.unsplash.com/photo-1592923750193-0caa23a10e1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) no-repeat 100% 40%/cover;
  height: 200px;
}

.aboutus {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.aboutus h5 {
  text-align: center;
}

.aboutus__article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.8em 0;
}

.aboutus__article2 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
}

.aboutus__article3 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 77%;
}

.aboutus__text {
  margin: 0;
  max-width: 50%;
  line-height: 2.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.aboutus__text2 {
  margin-top: 1em;
  max-width: 95%;
  line-height: 2.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.aboutus__img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 50%;
}

.aboutus span {
  text-align: center;
}

.aboutus #aboutus__img1 {
  background: url("../images/us-couple.jpg") no-repeat 50% 100%/cover;
}

.aboutus #aboutus__img2 {
  background: url("https://blythewoodworks.com/wp-content/uploads/2018/09/extra-large-dog-house-with-porch-and-dech.jpg") no-repeat 100% 80%/cover;
}

/* GALERIA DE FOTOS */
.container {
  height: 50vh;
  margin-bottom: 16em;
}

.container .row {
  height: 80%;
  margin: 1em;
}

.container .row div {
  position: relative;
}

.container .row div:hover {
  filter: saturate(0%);
  filter: hue-rotate(50%);
}

.container .row div:hover a, .container .row div:hover header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .container .row div:hover .compras {
  display: block;
  position: absolute;
  color: white;
  background-color: #B28604;
  text-decoration: none;
}

.container .col-6 {
  margin-right: .8em;
}

.container .col-6 a, .container .col-6 header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .container .col-6 .compras {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  padding: 1em;
  text-decoration: none;
}

.container .col-2 {
  margin-right: .8em;
}

.container .col-2 a, .container .col-2 header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .container .col-2 .compras {
  display: none;
  position: absolute;
  top: 45%;
  left: 16%;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.container .col-3 {
  margin-right: .8em;
}

.container .col-3 a, .container .col-3 header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .container .col-3 .compras {
  display: none;
  position: absolute;
  top: 45%;
  left: 26%;
  color: white;
  padding: .5em;
  text-decoration: none;
  margin-right: .8em;
}

.container .colim1 {
  background: url("https://http2.mlstatic.com/D_NQ_NP_920736-MLA32287165565_092019-O.webp") no-repeat 100% 80%/cover;
  height: 100%;
}

.container .colim2 {
  background: url("../images/prod.jpg") no-repeat center/cover;
  height: 100%;
}

.container .colim3 {
  background: url("../images/pd-prod1.jpg") no-repeat 100%/cover;
  height: 100%;
}

.container .colim4 {
  background: url("../images/pd-prod3.jpg") no-repeat center/cover;
  height: 100%;
}

.container .colim5 {
  background: url("../images/us-pic4.jpg") no-repeat center/cover;
  height: 100%;
}

.container .colim6 {
  background: url("https://http2.mlstatic.com/D_NQ_NP_997887-MLA32287092500_092019-O.webp") no-repeat center/cover;
  height: 100%;
}

.contact {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1em 5em;
}

.contact .contact__text {
  font-size: .8em;
  margin: 0;
  padding-bottom: 2em;
}

.contact .contact__form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.contact .contact__form .form__label {
  font-size: .9em;
  margin: .6em;
}

.contact .contact__form .form__input {
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  padding: .3em;
  border: none;
  border-bottom: 2px solid #B28604;
  background-color: whitesmoke;
}

.contact .contact__form .form__input:focus {
  outline: #FFCB00;
}

.contact .contact__form .form__flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1em;
}

.contact .contact__form .btn__form {
  display: inline-block;
  background-color: #B28604;
  color: white;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: .7em;
  font-weight: 600;
  letter-spacing: .1em;
  max-width: 100px;
  margin: 1em;
}

.diseno__section p {
  margin-bottom: .8em;
}

.diseno__article {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.diseno__article .diseno__container {
  justify-content: center;
}

.diseno__article .container__check {
  display: inline;
  gap: 1em;
}

.diseno__article .diseno__btn {
  margin-top: 0;
}

.container__galery {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.container__galery .galery__img img {
  width: 150px;
  height: 150px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4F4141;
  gap: .7em;
}

.banner p {
  color: white;
  font-size: .7em;
  text-align: center;
  margin-bottom: unset;
  padding: .6em 0 .3em 0;
  text-transform: uppercase;
}

.banner__header .em-zap {
  height: 1em;
  width: 1em;
}

.banner__discount {
  background-color: #4F4141;
}

.text__discount {
  font-style: italic;
  font-size: .7em;
  text-align: center;
  padding: .6em 0 .3em 0;
  text-transform: unset;
}

/* VER MAS BUTTON */
.vermas__btn {
  display: inline-block;
  width: 9em;
  height: 3.5em;
  background-color: white;
  color: #B2AA0D;
  border: 2px solid #B2AA0D;
  border-radius: .3em;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 1em;
  margin-bottom: 2em;
}

.vermas__btn:hover {
  color: #B2AA0D;
  transform: scale(1.1, 1);
}

/* SUSCRIBE BTN */
.form__btn {
  background-color: lightgray;
  width: 110px;
  height: 2.3em;
  color: black;
  border: none;
  border-top-right-radius: .3em;
  /* border-bottom-right-radius: .3em; */
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  font-size: .7em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

/* ARMA TU DISENO FORM BTN */
.diseno__btn {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  color: #B2AA0D;
  border: 2px solid 1px solid #B2AA0D;
  border-radius: .3em;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 1em;
  display: inline-block;
  color: #B2AA0D;
  font-weight: 500;
  border: 1px solid #B2AA0D;
}

.diseno__btn:hover {
  color: #B28604;
  border: 1px solid #B28604;
}

/* CAROUSEL */
.btn__carousel {
  max-width: 10em;
  margin-top: 2em;
  padding: .8em;
  color: white;
  background-color: #F3D848;
  font-size: 1.2rem;
  border-radius: .4em;
  text-transform: uppercase;
  border: none;
}

.btn__carousel .btn__carousel:hover {
  background-color: white;
  color: #F3D848;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.15);
}

/* PRODUCTOS PAGE BTN */
.products__btn {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products__btn a, .products__btn header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .products__btn .compras {
  text-decoration: none;
  border: 2px solid #94C75B;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.products__btn a::before, .products__btn header .menu--large .content__logo .registro ul li .compras::before, header .menu--large .content__logo .registro ul li .products__btn .compras::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.products__btn a::after, .products__btn header .menu--large .content__logo .registro ul li .compras::after, header .menu--large .content__logo .registro ul li .products__btn .compras::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.products__btn a:hover::after, .products__btn header .menu--large .content__logo .registro ul li .compras:hover::after, header .menu--large .content__logo .registro ul li .products__btn .compras:hover::after {
  transform: scaleX(0);
}

.products__btn a:hover::before, .products__btn header .menu--large .content__logo .registro ul li .compras:hover::before, header .menu--large .content__logo .registro ul li .products__btn .compras:hover::before {
  transform: scaleY(0);
}

/* SUSCRIPCION FOOTER */
.suscripcionFooter {
  display: flex;
  flex-flow: row;
}

.suscripcionFooter input {
  /* width: 100%; */
  height: 1.6em;
  border: .15em solid white;
  border-top-left-radius: .4em;
  border-bottom-left-radius: .3em;
  overflow: hidden;
  padding: .3em .7em;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.suscripcionFooter button {
  background-color: lightgray;
  width: 110px;
  height: 2.3em;
  color: black;
  border: none;
  border-top-right-radius: .3em;
  /* border-bottom-right-radius: .3em; */
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  font-size: .7em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.badge--new {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-bottom-left-radius: .5em;
  font-size: 0.7rem;
  letter-spacing: 0.13rem;
  color: white;
  background-color: black;
  padding: 0.6em;
  box-shadow: 0 0px 10px .1px blackw;
}

.badge--sale {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-bottom-left-radius: .5em;
  font-size: 0.8rem;
  letter-spacing: 0.25em;
  color: #F3D848;
  background-color: black;
  padding: 0.3em 0.9em;
  box-shadow: 0 5px 15px -5px black;
}

.badge--destacado {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-bottom-left-radius: .5em;
  font-size: 0.7rem;
  letter-spacing: 0.17rem;
  color: #B2AA0D;
  background-color: black;
  padding: 0.8em 1.3em;
  box-shadow: 0 5px 15px -5px black;
}

.badge {
  position: sticky;
  top: 1px;
  border: 1px solid #D8BCA8;
}

.products__faq {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5em;
  align-items: center;
  margin: 2em;
  padding-top: 2em;
}

.products__faq .faq {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 120px;
  gap: .3em;
}

.products__faq .faq .faq__icon {
  width: 5em;
  height: 5em;
  color: white;
  background-color: #F3D848;
  padding: .2em;
  border-radius: 2em;
}

.products__faq .faq h3 {
  color: #A79F0C;
  font-weight: 800;
}

.products__faq .faq p {
  color: black;
  padding-top: .2em;
  font-size: 1em;
  font-weight: 600;
}

.products__faq .faq__border {
  padding-right: 2em;
  border-right: 1px solid black;
}

.divisor {
  width: 60%;
  margin: auto;
  border: 1px;
  border-style: solid;
  border-color: #77B255;
}

* {
  margin: 0;
  padding: 0;
  height: auto;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
}

* a, * header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li * .compras {
  text-decoration: none;
}

* .paragraph {
  font-weight: 600;
  letter-spacing: .1em;
  line-height: .1rem;
  font-size: .7rem;
  margin: .3em auto;
}

* p {
  word-spacing: 1px;
  line-height: 15px;
  font-size: .7rem;
  margin: 0;
}

* h1 {
  color: #B28604;
  text-transform: uppercase;
}

* h1 span {
  display: none;
}

* h2 {
  color: #C8A446;
  text-align: center;
  text-decoration: underline #C8A446 .1em;
  text-underline-offset: .4em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
  font-size: 1.5rem;
}

* h3 {
  color: #3E3536;
  font-size: 1.1rem;
}

* li {
  color: #4F4141;
}

#whatsapp {
  cursor: pointer;
  width: 5%;
  height: 7%;
  position: fixed;
  bottom: 2%;
  right: 0%;
  z-index: 1;
}

.header__emojis {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .7em;
}

.marca {
  font-weight: 500;
  color: #B28604;
}

.negrita {
  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  .heroInner {
    text-align: center;
    max-width: 80vw;
  }
  h1 {
    color: #B28604;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .hero p {
    font-size: .7rem;
    font-weight: lighter;
    color: black;
    padding: 1em;
    margin-bottom: 1.6em;
  }
  .heroInner .btn {
    max-width: 10em;
    margin-top: 2em;
    padding: .8em;
    color: white;
    background-color: #F3D848;
    font-size: 1rem;
    border-radius: .4em;
    text-transform: uppercase;
  }
  .card__category {
    height: 50vh;
  }
  .methods {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0 2em 0;
  }
  .methods__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .methods__content p {
    margin: 1em 0 1em 0;
  }
  .methods__content img {
    max-width: 100px;
  }
  .subscription {
    display: flex;
    flex-direction: row wrap;
    background-color: #DADADA;
    text-align: right;
    margin: 2em 0;
    padding: 2em 0;
    background: url("../images/suscribe.jpg") no-repeat center/cover;
  }
  .subscription__img {
    display: none;
  }
  .subscription__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 2em;
    /* max-width:  */
  }
  .subscription__text h3 {
    text-align: center;
    color: white;
    size: 1.5em;
  }
  .subscription__text p {
    display: none;
  }
  .subscription__text span {
    color: whitesmoke;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
    font-style: italic;
    font-size: .6em;
  }
  .subscription__form {
    display: flex;
  }
  .footer {
    display: flex;
    align-items: center;
    padding-bottom: 2em;
  }
  .copyright {
    color: white;
    text-align: center;
  }
  .footer__payment {
    color: white;
    background-color: black;
    text-align: center;
  }
  .contacto li {
    color: white;
    font-size: .9rem;
    padding: .2em;
  }
  .redes ul {
    display: flex;
    flex-direction: row;
  }
  .redes li {
    margin: 0 .2em 0 .2em;
  }
  .redes a, .redes header .menu--large .content__logo .registro ul li .compras, header .menu--large .content__logo .registro ul li .redes .compras {
    font-size: 2em;
  }
  .footer__subscription {
    display: none;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1em 0 1.4em 0;
    height: auto;
  }
  .info__icon {
    color: white;
    width: 1.5em;
    height: 1.5em;
  }
}

@media only screen and (max-width: 880px) {
  h3 {
    font-size: .8rem;
  }
  .menu--large {
    display: none;
  }
  header {
    border-bottom: 1px solid #D8BCA8;
    opacity: 0.9;
  }
  header .menu--small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .3em .5em;
  }
  header .menu--small .menu__list--sm {
    display: flex;
    width: 90vw;
    flex-flow: row nowrap;
    gap: .8em;
    justify-content: space-between;
    align-items: baseline;
  }
  header .menu--small .menu__list--sm .icon__search--ms {
    justify-self: flex-end;
    width: 1.5em;
    height: 1.5em;
    color: #B28604;
  }
  header .menu--small .menu__list--sm .icon__cart {
    justify-self: flex-end;
    width: 2em;
    height: 2em;
    color: #D8BCA8;
  }
  header .menu--small .menu__list--sm .menu__hamburguer {
    color: #4F4141;
  }
  header .menu--small .menu__list--sm .logo {
    width: 6em;
  }
  header .menu--small .menu__list--sm .menu__icons--end {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 1em;
  }
  .categories {
    display: flex;
    flex-flow: column wrap;
  }
  .categories .card__category {
    height: 250px;
  }
}
